* {
align-items: center;
z-index: 10;
}


.game-title {
font-size: 60px;
margin-bottom: 20px;
text-shadow: 0 0 20px #00ffcc;
}


#startBtn {
padding: 15px 40px;
font-size: 20px;
border: none;
background: #00ffcc;
color: black;
cursor: pointer;
box-shadow: 0 0 20px #00ffcc;
}


#startBtn:hover {
transform: scale(1.1);
}


/* GAME */
.game {
position: relative;
width: 360px;
height: 400px;
background: #000;
border: 3px solid #00ffcc;
overflow: hidden;
display: none;
}


#player {
position: absolute;
width: 40px;
height: 40px;
background: #00ffcc;
bottom: 10px;
left: 160px;
box-shadow: 0 0 15px #00ffcc;
}


#obstacle {
position: absolute;
width: 40px;
height: 40px;
background: red;
bottom: 10px;
left: 360px;
box-shadow: 0 0 15px red;
}


.info {
margin-top: 10px;
text-align: center;
}
