* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
background: radial-gradient(circle, #00ffcc, #001f1f);
height: 100vh;
overflow: hidden;
}


/* START SCREEN */
#startScreen {
position: fixed;
inset: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: radial-gradient(circle, #00ffcc, #001f1f);
z-index: 10;
}


#startScreen h1 {
font-size: 60px;
color: white;
margin-bottom: 20px;
text-shadow: 0 0 20px #00ffcc;
}


#startBtn {
padding: 15px 50px;
font-size: 22px;
border: none;
cursor: pointer;
background: #00ffcc;
box-shadow: 0 0 20px #00ffcc;
}


#startBtn:active {
transform: scale(0.95);
}


/* GAME */
#gameArea {
position: relative;
width: 360px;
height: 420px;
background: black;
border: 3px solid #00ffcc;
margin: 60px auto;
display: none;
}


#player {
position: absolute;
width: 40px;
height: 40px;
background: #00ffcc;
bottom: 10px;
left: 160px;
}


#obstacle {
position: absolute;
width: 40px;
height: 40px;
background: red;
bottom: 10px;
left: 360px;
}


#info {
color: white;
text-align: center;
}
